<div class="l-header">
    <a class="c-emc-admin-button" data-emc-slug="UnisonCustomNavCell" data-emc-bucket="202::morning-fly-by" data-cid="tools/emc_admin_button-1678156992_6928_26868" data-cdata="{&quot;bucket&quot;:&quot;202::morning-fly-by&quot;,&quot;slug&quot;:&quot;UnisonCustomNavCell&quot;}"></a>
    <div class="chorus-emc__content" data-emc-slug="UnisonCustomNavCell" data-emc-bucket="202::morning-fly-by">
      <header class="c-global-header " data-cid="site/global_header-1678154683_8016_83761" role="banner" data-analytics-placement="navigation" data-cdata="{&quot;nav_items_limit&quot;:0}">
        <div class="l-wrapper">
          <div class="c-global-header__logo has-no-sublist">
            <a href="/" id="chorus-brand" data-analytics-link="home">
              <span class="sr-only">Broad Street Hockey homepage</span>
              <span class="c-global-header__logo-large" aria-hidden="true" tabindex="-1">
                <img src="https://cdn.vox-cdn.com/uploads/blog/sbnu_logo/202/large_Broad_Street_Hockey_Full.58762.png" class="">
              </span>
              <span class="c-global-header__logo-small c-global-header__logo-lockup">
                <img src="https://cdn.vox-cdn.com/uploads/blog/sbnu_logo/202/large_Broad_Street_Hockey_Full.58762.png" class="">
                <span class="c-global-header__logo-network ">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 137.7" enable-background="new 0 0 1000 137.7" xml:space="preserve">
                    <title>Horizontal - White</title>
                    <path fill="#FFFFFF" d="M245.3,68.1c11.5,0,20.8-9.1,21.1-20.6c0-7.2,0-12.7,0-12.7C266.5,13.9,253,0,233.7,0h-95v137.7H234
  c16.3,0,32.5-12.5,32.5-33.7V89.2C266.5,77.5,257,68.1,245.3,68.1z M216,98.6c0,1.7-1.3,3-3,3h-23.8v-15h23.6c1.8,0,3.2,1.5,3.2,3.2
  c0,0,0,0,0,0V98.6z M216,46.2c0,1.8-1.5,3.3-3.3,3.3h-23.5V36.1h23.5c1.9,0,3.4,1.5,3.4,3.4L216,46.2z"></path>
                    <path fill="#FFFFFF" d="M127.7,42.8v-9.1c0-6.6-1.8-13-5.1-18.7l0.1-0.2C117,6,107.4,0.5,96.9,0h-0.1c-0.4,0-0.8,0-1.2,0H32.3
  C14.5,0,0,14.5,0,32.3v18.7l0,0v8.8c0,14.9,12,26.9,26.9,26.9c0,0,0,0,0,0h46.9c1.9,0,3.4,1.5,3.4,3.5l0,0v8c0,1.9-1.6,3.5-3.5,3.5
  H50.5v-6.6H0v10.2c0,6.2,1.8,12.3,5.1,17.5l-0.1,0.2c5.6,8.8,15.3,14.4,25.7,14.8h0.1c0.4,0,0.8,0,1.2,0h63.3
  c17.8,0,32.3-14.4,32.3-32.3l0,0V86.8l0,0V76.4c0-14.9-12-26.9-26.9-26.9h0H53.9c-1.9,0-3.4-1.5-3.4-3.5l0,0v-6.5
  c0-1.9,1.6-3.5,3.5-3.5h23.4v6.7H127.7z"></path>
                    <rect x="674.1" fill="#FFFFFF" width="50.5" height="137.7"></rect>
                    <polygon fill="#FFFFFF" points="664.4,0 549.2,0 549.2,36.3 581.6,36.3 581.6,137.7 632,137.7 632,36.3 664.4,36.3 "></polygon>
                    <path fill="#FFFFFF" d="M830.5,0h-62.8c-17.8,0-32.3,14.5-32.3,32.3v73.1c0,17.8,14.5,32.3,32.3,32.3h62.8
  c17.8,0,32.3-14.5,32.3-32.3V32.3C862.8,14.5,848.4,0,830.5,0L830.5,0z M812.4,98.4c0,1.8-1.5,3.2-3.2,3.2h-20
  c-1.8,0-3.2-1.5-3.2-3.2v-59c0-1.8,1.5-3.2,3.2-3.2h20c1.8,0,3.2,1.5,3.2,3.2V98.4z"></path>
                    <path fill="#FFFFFF" d="M951,0v49.7L915.8,9.5c-5.1-6-12.6-9.5-20.5-9.5h-21.5v137.7h49V87.8l35.2,40.3c5.1,6,12.6,9.5,20.5,9.5
  h21.5V0H951z"></path>
                    <path fill="#FFFFFF" d="M354.7,0v49.7L319.4,9.5c-5.1-6-12.6-9.5-20.5-9.5h-21.5v137.7h49V87.8l35.2,40.3c5.1,6,12.6,9.5,20.5,9.5
  h21.5V0H354.7z"></path>
                    <path fill="#FFFFFF" d="M531.6,17.9C527.8,7.2,517.7,0,506.3,0h-70v36.3h10.5l-35.2,101.3h50.6l7.2-20.8H516l7.2,20.9h50L531.6,17.9
  z M492.6,49.6l10.8,31h-21.4L492.6,49.6z"></path>
                  </svg>
                  <span class="c-global-header__logo-community"> Broad Street Hockey </span>
                </span>
              </span>
            </a>
            <span class="c-global-header__topic">Philadelphia Flyers Schedule, Roster, News, and Rumors | Broad Street Hockey</span>
          </div>
          <h2 class="sr-only" id="global-header__social--label">Follow Broad Street Hockey online:</h2>
          <ul class="c-global-header__social" aria-labelledby="global-header__social--label">
            <li class="has-no-sublist">
              <a href="https://www.twitter.com/BroadStHockey" class="twitter">
                <svg role="img" class="p-svg-icon">
                  <title>Follow Broad Street Hockey on Twitter</title>
                  <use xlink:href="#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="has-no-sublist">
              <a href="http://www.facebook.com/broadsthockey" class="facebook">
                <svg role="img" class="p-svg-icon">
                  <title>Follow Broad Street Hockey on Facebook</title>
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="c-global-header__actions">
            <div class="c-global-header__login logged_out_menu has-no-sublist">
              <a class="c-global-header__login-icon" href="https://auth.voxmedia.com/login?community_id=202&amp;return_to=https://www.broadstreethockey.com/morning-fly-by" data-return-to="" data-ui="icon">
                <svg role="img" class="c-global-header__login-svg">
                  <use xlink:href="#icon-user"></use>
                </svg>
                <span class="sr-only">Log in or sign up</span>
              </a>
              <ul class="c-global-header__login-menu" data-ui="menu">
                <li class="c-global-header__login-menu-item logged_out_item has-no-sublist">
                  <a href="https://auth.voxmedia.com/login?community_id=202&amp;return_to=https://www.broadstreethockey.com/morning-fly-by" data-return-to="" data-analytics-link="login">Log In</a>
                </li>
                <li class="c-global-header__login-menu-item logged_out_item has-no-sublist">
                  <a href="https://auth.voxmedia.com/signup?community_id=202&amp;return_to=https://www.broadstreethockey.com/morning-fly-by" data-return-to="" data-analytics-link="signup">Sign Up</a>
                </li>
              </ul>
            </div>
            <div class="c-global-header__search has-no-sublist" aria-labelledby="global-header__search--label">
              <h2 class="sr-only" id="global-header__search--label">Site search</h2>
              <button type="submit" class="c-global-header__search-trigger">
                <span class="sr-only">Search</span>
                <svg role="img" class="c-global-header__login-svg" aria-hidden="true">
                  <title>Search</title>
                  <use xlink:href="#icon-search"></use>
                </svg>
              </button>
            </div>
          </div>
          <nav class="c-global-header__links" aria-labelledby="global-header__links--label">
            <h2 id="global-header__links--label" class="sr-only">Broad Street Hockey main menu</h2>
            <ul>
              <li class="c-global-header__link has-no-sublist" data-nav-item-id="podcasts">
                <a href="/podcasts"> Podcasts </a>
              </li>
              <li class="c-global-header__link" data-nav-item-id="sections" data-nav-list-trigger="sections">
                <a href="/sections"> Sections <span class="c-global-header__link-arrow">
                    <svg role="img">
                      <use xlink:href="#icon-norgie-down"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="c-global-header__link has-no-sublist" data-nav-item-id="community-guidelines">
                <a href="/community-guidelines"> Community Guidelines </a>
              </li>
              <li class="c-global-header__link is-pinned has-no-sublist" data-nav-item-id="fanposts">
                <a href="/fanposts"> Fanposts </a>
              </li>
              <li class="c-global-header__link hidden has-no-sublist" data-nav-item-id="fanshots">
                <a href="/fanshots"> Fanshots </a>
              </li>
              <li class="c-global-header__link hidden has-no-sublist" data-nav-item-id="draftkings-nation">
                <a href="https://dknation.draftkings.com/?utm_source=sbnation_navigation&amp;utm_medium=navigation&amp;utm_campaign=sbnation_navclick"> DraftKings Nation </a>
              </li>
              <li class="c-global-header__link hidden has-no-sublist" data-nav-item-id="about">
                <a href="/masthead"> About </a>
              </li>
              <li class="c-global-header__link hidden has-no-sublist" data-nav-item-id="masthead">
                <a href="/masthead"> Masthead </a>
              </li>
              <li class="c-global-header__link-more" data-nav-list-trigger="more">
                <a class="c-global-header__label"> More <span class="c-global-header__link-arrow">
                    <svg role="img">
                      <use xlink:href="#icon-norgie-down"></use>
                    </svg>
                  </span>
                  <span class="c-global-header__link-hamburger">
                    <svg role="img">
                      <use xlink:href="#icon-hamburger"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="c-global-header__primary-community has-no-sublist">
            <a href="https://www.sbnation.com/blogs"> All 300 communities <span class="c-global-header__primary-community-tag">on</span>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 137.7" enable-background="new 0 0 1000 137.7" xml:space="preserve">
                <title>Horizontal - White</title>
                <path fill="#FFFFFF" d="M245.3,68.1c11.5,0,20.8-9.1,21.1-20.6c0-7.2,0-12.7,0-12.7C266.5,13.9,253,0,233.7,0h-95v137.7H234
  c16.3,0,32.5-12.5,32.5-33.7V89.2C266.5,77.5,257,68.1,245.3,68.1z M216,98.6c0,1.7-1.3,3-3,3h-23.8v-15h23.6c1.8,0,3.2,1.5,3.2,3.2
  c0,0,0,0,0,0V98.6z M216,46.2c0,1.8-1.5,3.3-3.3,3.3h-23.5V36.1h23.5c1.9,0,3.4,1.5,3.4,3.4L216,46.2z"></path>
                <path fill="#FFFFFF" d="M127.7,42.8v-9.1c0-6.6-1.8-13-5.1-18.7l0.1-0.2C117,6,107.4,0.5,96.9,0h-0.1c-0.4,0-0.8,0-1.2,0H32.3
  C14.5,0,0,14.5,0,32.3v18.7l0,0v8.8c0,14.9,12,26.9,26.9,26.9c0,0,0,0,0,0h46.9c1.9,0,3.4,1.5,3.4,3.5l0,0v8c0,1.9-1.6,3.5-3.5,3.5
  H50.5v-6.6H0v10.2c0,6.2,1.8,12.3,5.1,17.5l-0.1,0.2c5.6,8.8,15.3,14.4,25.7,14.8h0.1c0.4,0,0.8,0,1.2,0h63.3
  c17.8,0,32.3-14.4,32.3-32.3l0,0V86.8l0,0V76.4c0-14.9-12-26.9-26.9-26.9h0H53.9c-1.9,0-3.4-1.5-3.4-3.5l0,0v-6.5
  c0-1.9,1.6-3.5,3.5-3.5h23.4v6.7H127.7z"></path>
                <rect x="674.1" fill="#FFFFFF" width="50.5" height="137.7"></rect>
                <polygon fill="#FFFFFF" points="664.4,0 549.2,0 549.2,36.3 581.6,36.3 581.6,137.7 632,137.7 632,36.3 664.4,36.3 "></polygon>
                <path fill="#FFFFFF" d="M830.5,0h-62.8c-17.8,0-32.3,14.5-32.3,32.3v73.1c0,17.8,14.5,32.3,32.3,32.3h62.8
  c17.8,0,32.3-14.5,32.3-32.3V32.3C862.8,14.5,848.4,0,830.5,0L830.5,0z M812.4,98.4c0,1.8-1.5,3.2-3.2,3.2h-20
  c-1.8,0-3.2-1.5-3.2-3.2v-59c0-1.8,1.5-3.2,3.2-3.2h20c1.8,0,3.2,1.5,3.2,3.2V98.4z"></path>
                <path fill="#FFFFFF" d="M951,0v49.7L915.8,9.5c-5.1-6-12.6-9.5-20.5-9.5h-21.5v137.7h49V87.8l35.2,40.3c5.1,6,12.6,9.5,20.5,9.5
  h21.5V0H951z"></path>
                <path fill="#FFFFFF" d="M354.7,0v49.7L319.4,9.5c-5.1-6-12.6-9.5-20.5-9.5h-21.5v137.7h49V87.8l35.2,40.3c5.1,6,12.6,9.5,20.5,9.5
  h21.5V0H354.7z"></path>
                <path fill="#FFFFFF" d="M531.6,17.9C527.8,7.2,517.7,0,506.3,0h-70v36.3h10.5l-35.2,101.3h50.6l7.2-20.8H516l7.2,20.9h50L531.6,17.9
  z M492.6,49.6l10.8,31h-21.4L492.6,49.6z"></path>
              </svg>
            </a>
          </div>
          <div class="p-input-header c-global-header__search-menu" data-analytics-class="search">
            <form action="/search" method="GET" id="global_search_form" data-analytics-class="search">
              <input class="p-input-header__input" name="q" placeholder="Search">
              <input type="submit" class="p-input-header__link p-button" value="Search">
            </form>
          </div>
          <div class="chorus-ad-placement chorus-ad-placement__site_sponsorship_logo">
            <div class="site_sponsorship_logo "></div>
            <div class="site_sponsorship_logo_mobile "></div>
          </div>
        </div>
      </header>
      <section class="c-nav-list" data-cid="site/nav_list-1678154683_4558_83760" data-cdata="{&quot;tab_id&quot;:&quot;more&quot;}">
        <div class="c-nav-list__inner" style="top: 126.75px; left: auto; right: auto;">
          <ul class="c-nav-list__main" data-nav-list-id="more">
            <li data-nav-item-id="podcasts" class="hidden">
              <a class="c-nav-list__label" href="/podcasts" data-update-for-logged-in="https://www.broadstreethockey.com/radio"> Podcasts </a>
            </li>
            <li data-nav-item-id="sections" data-nav-list-id="sections" class="hidden">
              <a class="c-nav-list__label" href="/sections"> Sections <span class="c-nav-list__arrow-down">
                  <svg role="img">
                    <use xlink:href="#icon-norgie-down"></use>
                  </svg>
                </span>
              </a>
              <ul class="c-nav-list__sub-items has-columns">
                <div class="c-nav-list__col">
                  <li class=" ">
                    <a href="http://www.broadstreethockey.com/morning-fly-by"> Morning Fly By </a>
                  </li>
                  <li class=" ">
                    <a href="http://www.broadstreethockey.com/philadelphia-flyers-prospects"> Philadelphia Flyers Prospects </a>
                  </li>
                  <li class=" ">
                    <a href="http://www.broadstreethockey.com/phantoms"> Lehigh Valley Phantoms </a>
                  </li>
                </div>
                <div class="c-nav-list__col">
                  <li class=" ">
                    <a href="http://www.broadstreethockey.com/philadelphia-flyers-draft-2021"> Philadelphia Flyers Draft 2021 </a>
                  </li>
                  <li class=" ">
                    <a href="http://www.broadstreethockey.com/flyers-top-25-under-25"> Flyers Top 25 Under 25 </a>
                  </li>
                  <li class=" ">
                    <a href="/archives/full"> Full Archive </a>
                  </li>
                </div>
              </ul>
            </li>
            <li data-nav-item-id="community-guidelines" class="hidden">
              <a class="c-nav-list__label" href="/community-guidelines"> Community Guidelines </a>
            </li>
            <li data-nav-item-id="fanposts" class="hidden">
              <a class="c-nav-list__label" href="/fanposts"> Fanposts </a>
            </li>
            <li data-nav-item-id="fanshots">
              <a class="c-nav-list__label" href="/fanshots"> Fanshots </a>
            </li>
            <li data-nav-item-id="draftkings-nation">
              <a class="c-nav-list__label" href="https://dknation.draftkings.com/?utm_source=sbnation_navigation&amp;utm_medium=navigation&amp;utm_campaign=sbnation_navclick"> DraftKings Nation </a>
            </li>
            <li data-nav-item-id="about">
              <a class="c-nav-list__label" href="/masthead"> About </a>
            </li>
            <li data-nav-item-id="masthead">
              <a class="c-nav-list__label" href="/masthead"> Masthead </a>
            </li>
            <button data-ui="close-nav" type="button" class="c-nav-list__close">✕</button>
          </ul>
        </div>
      </section>
    </div>
    <div class="c-ad-allowlist" data-ui="ad-allowlist" data-cid="site/ad_allowlist-1678154683_2089_83762" data-cdata="{&quot;adblocker_allowlist_prompt_enabled&quot;:true,&quot;messaging_urls&quot;:[&quot;https://cdn.concert.io/lib/adblock/sbnation.html&quot;],&quot;selector&quot;:&quot;.l-header&quot;}"></div>
  </div>