<li>
    <a href="" class="m-masthead__user__image">
      <img src="https://cdn.vox-cdn.com/thumbor/xYrFN362_qG8BRtidxbIPzmJklI=/512x512/cdn.vox-cdn.com/profile_images/5916190/D5h4mwhW4AAs19q..jpg">
    </a>
    <div class="m-masthead__user">
      <a class="m-masthead__user__name" href="https://www.sbnation.com/users/heatherbarry">heatherbarry</a>
      <ul class="m-masthead__user__links">
        <li class="m-masthead__user__links__sbn">
          <a href="https://www.sbnation.com/users/heatherbarry">heatherbarry</a>
        </li>
      </ul>
    </div>
  </li>