<section class="c-nextclick">
    <div class="c-related-list" data-cid="site/related_list-1678155536_7685_95588" data-cdata="{}">
      <h2 class="c-related-list__head"> More From <span class="c-related-list__community-name">Broad Street Hockey</span>
      </h2>
      <ul>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="The post-deadline Flyers look largely the same" href="https://www.broadstreethockey.com/2023/3/6/23626553/nhl-philadelphia-flyers-detroit-red-wings-tanner-laczynski-joel-farabee-stats-analysis">The post-deadline Flyers look largely the same</a>
        </li>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="Flyers 3, Red Wings 1: Laughton scores in 500th game" href="https://www.broadstreethockey.com/2023/3/5/23626517/philadelphia-flyers-3-detroit-red-wings-1-scott-laughton-scores-500th-game">Flyers 3, Red Wings 1: Laughton scores in 500th game</a>
        </li>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="BSH Radio Live: Trade Deadline 2023 Reactions" href="https://www.broadstreethockey.com/2023/3/4/23625001/bsh-radio-live-trade-deadline-2023-reactions">BSH Radio Live: Trade Deadline 2023 Reactions</a>
        </li>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="Chuck Fletcher defends passivity at NHL trade deadline" href="https://www.broadstreethockey.com/2023/3/3/23624430/philadelphia-flyers-gm-chuck-fletcher-defends-decision-deal-james-van-riemsdyk-nhl-trade-deadline">Chuck Fletcher defends passivity at NHL trade deadline</a>
        </li>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="Flyers fail to trade James van Riemsdyk as deal with Red Wings falls through" href="https://www.broadstreethockey.com/2023/3/3/23616284/philadelphia-flyers-fail-move-james-van-riemsdyk-nhl-trade-deadline-deal-red-wings-falls-through">Flyers fail to trade James van Riemsdyk as deal with Red Wings falls through</a>
        </li>
        <li>
          <a data-analytics-link="nextclicks" data-analytics-viewport="nextclicks" data-vars-analytics-link-title="All just a little bit of history repeating" href="https://www.broadstreethockey.com/2023/3/3/23624223/all-just-a-little-bit-of-history-repeating">All just a little bit of history repeating</a>
        </li>
        <div>
          <div class="m-native_ad_unit dynamic-native-ad-native_ad_linkset_link"></div>
        </div>
      </ul>
      <div class="c-related-list__video">
        <div class="c-video-embed--media">
          <iframe frameborder="no" src="https://playlist.megaphone.fm?p=VMP3107255052&amp;light=true" width="100%" height="482"></iframe>
        </div>
      </div>
    </div>
  </section>