<div class="l-segment">
    <div class="c-entry-hero c-entry-hero--default ">
      <div class="c-entry-group-labels c-entry-group-labels--article">
        <p class="sr-only c-entry-box--compact__labels-title" id="heading-label--adyqk6rv">Filed under:</p>
        <ul aria-labelledby="heading-label--adyqk6rv">
          <li class="c-entry-group-labels__item">
            <a href="https://www.broadstreethockey.com/morning-fly-by">
              <span>Morning Fly By</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="c-entry-hero__header-wrap">
        <h1 class="c-page-title">Monday Morning Fly By: Avoiding overtime is always a win</h1>
      </div>
      <p class="c-entry-summary p-dek">
        <em>Today’s open discussion thread, complete with your daily dose of Philadelphia Flyers news and notes…</em>
      </p>
      <div class="c-byline">
        <span class="c-byline-wrapper"> By <span class="c-byline__item">
            <a href="https://www.sbnation.com/users/Kelly%20Hinkle" data-analytics-link="author-name">
              <span class="c-byline__author-name">Kelly Hinkle</span>
            </a>
            <span class="c-byline__item">
              <a href="https://www.twitter.com/hinx" class="c-byline__twitter-handle">@hinx</a>
            </span>
          </span>
          <span class="c-byline__item">
            <time class="c-byline__item" data-ui="timestamp" datetime="2023-03-06T11:00:00"> Mar 6, 2023, 6:00am EST </time>
          </span>
          <span class="c-byline__item">
            <div class="c-entry-stat--words">
              <a href="https://www.broadstreethockey.com/2023/3/6/23626475/monday-morning-fly-by-avoiding-overtime-is-always-a-win#comments" data-ui="comment">
                <span class="coral-count" data-coral-url="https://www.broadstreethockey.com/2023/3/6/23626475/monday-morning-fly-by-avoiding-overtime-is-always-a-win" data-coral-ref="ZmFsc2U7aHR0cHM6Ly93d3cuYnJvYWRzdHJlZXRob2NrZXkuY29tLzIwMjMvMy82LzIzNjI2NDc1L21vbmRheS1tb3JuaW5nLWZseS1ieS1hdm9pZGluZy1vdmVydGltZS1pcy1hbHdheXMtYS13aW4=" data-coral-count="188" data-coral-new-count="188" data-coral-previous-count="0">
                  <span class="coral-count-number">188</span>
                  <span class="coral-count-text">Comments</span>
                  <span class="coral-new-count-divider"> / </span>
                  <span class="coral-new-count-number">188</span>
                  <span class="coral-new-count-text"> New</span>
                </span>
                <span class="c-entry-stat--words__unread" data-ui="unread"> / <span class="c-entry-stat__comment-data" data-ui="unread-data"></span>
                  <span class="c-entry-stat--words__word">new</span>
                </span>
              </a>
            </div>
          </span>
        </span>
        <span class="c-byline__gear">
          <a data-entry-admin="23390516" data-cid="tools/entry_admin_button-1678155536_4150_95584" data-cdata="{&quot;id&quot;:23390516}"></a>
        </span>
      </div>
      <div class="c-group-disclosure-ecomm">
        <p class="c-group-discolure-ecomm__text p-dek">If you buy something from an SB Nation link, Vox Media may earn a commission. See our <a href="https://www.sbnation.com/pages/guiding-principles" target="_blank">ethics statement</a>. </p>
      </div>
    </div>
    <div class="c-social-buttons c-social-buttons--popover main-social" data-cid="site/social_buttons_list/popover-1678155536_5790_95585" data-cdata="{&quot;entry_id&quot;:23390516,&quot;services&quot;:[&quot;twitter&quot;,&quot;facebook&quot;,&quot;reddit&quot;,&quot;pocket&quot;,&quot;flipboard&quot;,&quot;email&quot;],&quot;base_url&quot;:&quot;https://www.broadstreethockey.com/2023/3/6/23626475/monday-morning-fly-by-avoiding-overtime-is-always-a-win&quot;}">
      <h2 class="sr-only" id="heading-label--97akdjud">Share this story</h2>
      <ul aria-labelledby="heading-label--97akdjud">
        <li>
          <a class="c-social-buttons__item c-social-buttons__facebook" href="https://www.facebook.com/sharer/sharer.php?text=Monday+Morning+Fly+By%3A+Avoiding+overtime+is+always+a+win&amp;u=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win" data-analytics-social="facebook">
            <svg role="img" class="p-svg-icon c-social-buttons__svg">
              <use xlink:href="#icon-facebook"></use>
            </svg>
            <span class="sr-only">Share this on Facebook (opens in new window)</span>
          </a>
        </li>
        <li>
          <a class="c-social-buttons__item c-social-buttons__twitter" href="https://twitter.com/intent/tweet?counturl=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win&amp;text=Monday+Morning+Fly+By%3A+Avoiding+overtime+is+always+a+win&amp;url=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win&amp;via=BroadStHockey" data-analytics-social="twitter">
            <svg role="img" class="p-svg-icon c-social-buttons__svg">
              <use xlink:href="#icon-twitter"></use>
            </svg>
            <span class="sr-only">Share this on Twitter (opens in new window)</span>
          </a>
        </li>
        <li data-ui="more">
          <a class="c-social-buttons__item c-social-buttons__more" href="#" role="button" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20" class="p-svg-icon c-social-buttons__svg">
              <path d="M18.4,12.9c-0.3,0-0.6,0.3-0.6,0.6V17c0,1-0.8,1.8-1.8,1.8H3c-1,0-1.8-0.8-1.8-1.8V4C1.2,3,2,2.2,3,2.2h8.4
  c0.3,0,0.6-0.3,0.6-0.6S11.7,1,11.3,1H3C1.3,1,0,2.3,0,4V17c0,1.6,1.3,3,3,3H16c1.6,0,3-1.3,3-3v-3.5C19,13.2,18.7,12.9,18.4,12.9z"></path>
              <path d="M20.9,5.3C20.9,5.3,20.9,5.3,20.9,5.3c0-0.1,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0,0
  c0,0,0,0,0,0c0,0,0,0,0,0l-4.6-4.6c-0.2-0.2-0.6-0.2-0.8,0s-0.2,0.6,0,0.8l3.3,3.3c-2.1-0.3-5.5-0.3-8.5,1.5
  C7.6,7.5,5.9,10,5.2,13.5c-0.1,0.3,0.1,0.6,0.5,0.7c0,0,0.1,0,0.1,0c0.3,0,0.5-0.2,0.6-0.5c0.6-3.1,2.1-5.4,4.3-6.8
  c3-1.8,6.7-1.5,8.5-1.2l-3.8,3.9c-0.2,0.2-0.2,0.6,0,0.8c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2l4.6-4.6c0,0,0,0,0,0
  c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1C20.9,5.4,20.9,5.4,20.9,5.3
  C20.9,5.4,20.9,5.4,20.9,5.3z"></path>
            </svg>
            <span class="c-social-buttons--label" aria-hidden="true">Share</span>
            <span class="sr-only">All sharing options</span>
          </a>
        </li>
      </ul>
      <div class="c-social-buttons__popover" data-ui="popover">
        <div class="c-social-buttons__popover-header">
          <h3 tabindex="-1">
            <strong aria-hidden="true">Share</strong>
            <span class="sr-only">All sharing options for:</span>
            <span>Monday Morning Fly By: Avoiding overtime is always a win</span>
          </h3>
        </div>
        <div class="c-social-buttons__popover-body">
          <ul>
            <li>
              <a class="c-social-buttons__item c-social-buttons__reddit" href="https://reddit.com/submit?title=Monday+Morning+Fly+By%3A+Avoiding+overtime+is+always+a+win&amp;url=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win" data-analytics-social="reddit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" class="p-svg-icon c-social-buttons__svg">
                  <path d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5S13.2,0,8.5,0z M14,10.2c0,0.1,0,0.3,0,0.4c0,2.2-2.5,3.9-5.6,3.9
  s-5.6-1.8-5.6-3.9c0-0.2,0-0.3,0-0.5C2.5,9.9,2.2,9.4,2.2,8.9c0-0.8,0.6-1.5,1.4-1.5c0.4,0,0.7,0.2,0.9,0.4C5.2,7.3,6,6.9,7,6.8
  c0.3-0.1,0.3-0.1,0.7-0.1l0.7-3.1C8.6,2.9,8.8,2.9,9.3,3C11.1,3.5,12,3.7,12,3.7c0.2-0.3,0.5-0.3,0.8-0.3c0.6,0,1.1,0.5,1.1,1.2
  s-0.5,1.2-1.1,1.2c-0.5,0-1-0.5-1.1-1c0,0-0.7-0.2-2.2-0.6C9.1,5.9,8.9,6.7,8.9,6.7c1.3,0.1,2.6,0.5,3.5,1.1c0.3-0.3,0.6-0.4,1-0.4
  c0.8,0,1.4,0.7,1.4,1.5C14.8,9.4,14.5,9.9,14,10.2z"></path>
                  <path d="M10.2,12.2c-0.3,0.4-0.9,0.5-1.7,0.5l0,0l0,0c-0.8,0-1.4-0.2-1.7-0.5c-0.1-0.1-0.2-0.1-0.3,0c-0.1,0.1-0.1,0.2,0,0.3
  c0.4,0.4,1.1,0.7,2,0.7l0,0l0,0c0.9,0,1.6-0.2,2-0.7c0.1-0.1,0.1-0.2,0-0.3C10.4,12.1,10.3,12.1,10.2,12.2z"></path>
                  <ellipse cx="6.6" cy="9.9" rx="0.8" ry="0.9"></ellipse>
                  <ellipse cx="10.4" cy="9.9" rx="0.8" ry="0.9"></ellipse>
                </svg>
                <span class="c-social-buttons__text">Reddit</span>
                <span class="sr-only"> (opens in new window)</span>
              </a>
            </li>
            <li>
              <a class="c-social-buttons__item c-social-buttons__pocket" href="https://getpocket.com/save?url=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win" data-analytics-social="pocket">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14" class="p-svg-icon c-social-buttons__svg">
                  <path d="M14.4,0.1H2c-0.6,0-1.1,0.5-1.1,1.1v4.6c0,4,3.3,7.3,7.3,7.3c4,0,7.3-3.3,7.3-7.3V1.2C15.5,0.6,15,0.1,14.4,0.1
  z M12.5,5.4L8.9,9C8.7,9.2,8.4,9.3,8.2,9.3C8,9.3,7.7,9.2,7.5,9L3.9,5.4C3.5,5,3.5,4.4,3.9,4c0.4-0.4,1-0.4,1.3,0l3,3l3-3
  c0.4-0.4,1-0.4,1.3,0C12.9,4.4,12.9,5,12.5,5.4z"></path>
                </svg>
                <span class="c-social-buttons__text">Pocket</span>
                <span class="sr-only"> (opens in new window)</span>
              </a>
            </li>
            <li>
              <a class="c-social-buttons__item c-social-buttons__flipboard" href="https://share.flipboard.com/bookmarklet/popout?title=Monday+Morning+Fly+By%3A+Avoiding+overtime+is+always+a+win&amp;url=https%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win&amp;v=2" data-analytics-social="flipboard">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="p-svg-icon c-social-buttons__svg">
                  <path d="M0,0v16h16V0H0z M12.9,6.4H9.6v3.2H6.5v3.2H3.2V3.2h9.7V6.4z"></path>
                  <polygon opacity="0.13" points="6.5,3.2 6.5,6.4 9.8,6.4 12.9,6.4 12.9,3.2 "></polygon>
                  <polygon opacity="0.23" points="6.5,9.7 9.7,9.7 9.7,6.4 6.5,6.4 "></polygon>
                </svg>
                <span class="c-social-buttons__text">Flipboard</span>
                <span class="sr-only"> (opens in new window)</span>
              </a>
            </li>
            <li>
              <a class="c-social-buttons__item c-social-buttons__email" href="mailto:?subject=Monday%20Morning%20Fly%20By%3A%20Avoiding%20overtime%20is%20always%20a%20win&amp;body=Today%E2%80%99s%20open%20discussion%20thread%2C%20complete%20with%20your%20daily%20dose%20of%20Philadelphia%20Flyers%20news%20and%20notes%E2%80%A6%0A%0Ahttps%3A%2F%2Fwww.broadstreethockey.com%2F2023%2F3%2F6%2F23626475%2Fmonday-morning-fly-by-avoiding-overtime-is-always-a-win" data-analytics-social="email">
                <svg role="img" class="p-svg-icon c-social-buttons__svg">
                  <use xlink:href="#icon-email"></use>
                </svg>
                <span class="c-social-buttons__text">Email</span>
                <span class="sr-only"> (opens in new window)</span>
              </a>
            </li>
          </ul>
        </div>
        <span class="c-social-buttons__popover-caret" data-ui="caret"></span>
      </div>
    </div>
  </div>