<section class="c-user-card c-user-card__user-profile u-clearfix">
    <div class="c-user-card__profile-pic">
      <img src="https://cdn.vox-cdn.com/thumbor/lN1SbQ8UjJIyOFbrbW7IQ6sr260=/512x512/cdn.vox-cdn.com/profile_images/5409709/Steve_Hockey_2..jpg" alt="estebomb">
    </div>
    <div class="c-user-card__main">
      <h1 class="c-user-card__name">estebomb</h1>
      <p class="p-subtitle c-user-card__title"></p>
      <ul class="c-user-card__info">
        <li>Joined: <span>Jan 14, 2018</span>
        </li>
        <li>Last Login: <span>Mar 3, 2023, 1:08am EST</span>
        </li>
        <li>Comments: <span>2</span>
        </li>
      </ul>
    </div>
  </section>