<li>
    <span class="c-article-sidebar__item--body">
      <h5>
        <a href="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on">JVR Not Traded! What Did the Flyers Miss Out On?</a>
      </h5>
      <div class="c-byline" data-cid="site/byline-1678156992_4783_26863" data-cdata="{&quot;timestamp&quot;:1677947097}">
        <span class="c-byline-wrapper"> By <span class="c-byline__item">
            <a href="https://www.sbnation.com/users/ThinkitThrew" data-analytics-link="author-name">
              <span class="c-byline__author-name">ThinkitThrew</span>
            </a>
          </span>
          <span class="c-byline__item">
            <time class="c-byline__item" data-ui="timestamp" data-relative-timestamp="true" datetime="2023-03-04T16:24:57"> March 4 </time>
          </span>
          <span class="c-byline__item"> 0 recs </span>
          <span class="c-byline__item">
            <div class="c-entry-stat--words">
              <a href="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on#comments" data-ui="comment">
                <span class="coral-count" data-coral-url="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on" data-coral-ref="ZmFsc2U7aHR0cHM6Ly93d3cuYnJvYWRzdHJlZXRob2NrZXkuY29tLzIwMjMvMy80LzIzNjI1MDY4L2p2ci1ub3QtdHJhZGVkLXdoYXQtZGlkLXRoZS1mbHllcnMtbWlzcy1vdXQtb24=" data-coral-count="1" data-coral-new-count="1" data-coral-previous-count="0">
                  <span class="coral-count-number">1</span>
                  <span class="coral-count-text">Comment</span>
                  <span class="coral-new-count-divider"> / </span>
                  <span class="coral-new-count-number">1</span>
                  <span class="coral-new-count-text"> New</span>
                </span>
                <span class="c-entry-stat--words__unread" data-ui="unread"> / <span class="c-entry-stat__comment-data" data-ui="unread-data"></span>
                  <span class="c-entry-stat--words__word">new</span>
                </span>
              </a>
            </div>
          </span>
        </span>
        <span class="c-byline__gear">
          <a data-entry-admin="23389109" data-cid="tools/entry_admin_button-1678156992_8887_26862" data-cdata="{&quot;id&quot;:23389109}"></a>
        </span>
      </div>
    </span>
  </li>