<div class="l-col__sidebar" data-analytics-placement="sidebar">
    <h2 class="p-breaker-head">
      <span class="p-breaker-head__wrapper">Filter</span>
    </h2>
    <div class="c-filter-list js-active" data-cid="site/filter_list-1678158162_5081_137168" data-cdata="{}">
      <h3 class="u-head-iterator-instance">Search Scope</h3>
      <ul>
        <li class="is-selected" data-slug="https://www.broadstreethockey.com/search?q=asc">
          <a href="https://www.broadstreethockey.com/search?q=asc">
            <span class="c-filter-list__label"> Broad Street Hockey </span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?q=asc&amp;scope=network">
          <a href="https://www.broadstreethockey.com/search?q=asc&amp;scope=network">
            <span class="c-filter-list__label"> SB Nation Network </span>
          </a>
        </li>
      </ul>
      <select>
        <option selected="" value="https://www.broadstreethockey.com/search?q=asc"> Broad Street Hockey </option>
        <option value="https://www.broadstreethockey.com/search?q=asc&amp;scope=network"> SB Nation Network </option>
      </select>
    </div>
    <div class="c-filter-list js-active" data-cid="site/filter_list-1678158162_9697_137169" data-cdata="{}">
      <h3 class="u-head-iterator-instance">Sort By</h3>
      <ul>
        <li class="is-selected" data-slug="https://www.broadstreethockey.com/search?q=asc">
          <a href="https://www.broadstreethockey.com/search?q=asc">
            <span class="c-filter-list__label"> Relevancy </span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?order=date&amp;q=asc">
          <a href="https://www.broadstreethockey.com/search?order=date&amp;q=asc">
            <span class="c-filter-list__label"> Date </span>
          </a>
        </li>
      </ul>
      <select>
        <option selected="" value="https://www.broadstreethockey.com/search?q=asc"> Relevancy </option>
        <option value="https://www.broadstreethockey.com/search?order=date&amp;q=asc"> Date </option>
      </select>
    </div>
    <div class="c-filter-list js-active" data-cid="site/filter_list-1678158162_5976_137170" data-cdata="{}">
      <h3 class="u-head-iterator-instance">Show Type</h3>
      <ul>
        <li class="is-selected" data-slug="https://www.broadstreethockey.com/search?q=asc">
          <a href="https://www.broadstreethockey.com/search?q=asc">
            <span class="c-filter-list__label"> All Entries </span>
            <span class="c-filter-list__count">0</span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?q=asc&amp;type=Article">
          <a href="https://www.broadstreethockey.com/search?q=asc&amp;type=Article">
            <span class="c-filter-list__label"> Articles </span>
            <span class="c-filter-list__count">0</span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?q=asc&amp;type=Stream">
          <a href="https://www.broadstreethockey.com/search?q=asc&amp;type=Stream">
            <span class="c-filter-list__label"> Streams </span>
            <span class="c-filter-list__count">0</span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?q=asc&amp;type=Feature">
          <a href="https://www.broadstreethockey.com/search?q=asc&amp;type=Feature">
            <span class="c-filter-list__label"> Features </span>
            <span class="c-filter-list__count">0</span>
          </a>
        </li>
        <li data-slug="https://www.broadstreethockey.com/search?q=asc&amp;type=Comment">
          <a href="https://www.broadstreethockey.com/search?q=asc&amp;type=Comment">
            <span class="c-filter-list__label"> Comments </span>
            <span class="c-filter-list__count">43</span>
          </a>
        </li>
      </ul>
      <select>
        <option selected="" value="https://www.broadstreethockey.com/search?q=asc"> All Entries (0) </option>
        <option value="https://www.broadstreethockey.com/search?q=asc&amp;type=Article"> Articles (0) </option>
        <option value="https://www.broadstreethockey.com/search?q=asc&amp;type=Stream"> Streams (0) </option>
        <option value="https://www.broadstreethockey.com/search?q=asc&amp;type=Feature"> Features (0) </option>
        <option value="https://www.broadstreethockey.com/search?q=asc&amp;type=Comment"> Comments (43) </option>
      </select>
    </div>
  </div>