<aside class="c-rock-list c-rock-list__text c-rock-list--fanposts" id="rock-fanposts">
    <h3 class="p-rock-head c-rock-list__title">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 300 50" style="enable-background:new 0 0 300 50;">
        <g>
          <polygon points="31.1,0 26.1,0 21.7,3.2 35.7,46.2 -0.1,20.1 -0.1,23.7 36,50 40,50 25.1,4.3 	"></polygon>
          <polygon points="14.7,0.9 15.9,0 11.3,0 18.7,22.8 -0.1,9.1 -0.1,12.7 24.2,30.4 	"></polygon>
          <polygon points="106.9,0 102,0 74.1,20.2 83.8,50 86.8,50 77.5,21.3 	"></polygon>
          <polygon points="-0.1,34.7 20.9,50 25.8,50 -0.1,31.2 	"></polygon>
          <polygon points="-0.1,42.2 -0.1,45.8 5.7,50 10.6,50 	"></polygon>
          <polygon points="76.6,0 71.6,0 53.2,13.4 65,50 68.1,50 56.6,14.5 	"></polygon>
          <polygon points="91.7,0 86.8,0 63.6,16.8 74.4,50 77.5,50 67,17.9 	"></polygon>
          <polygon points="61.4,0 56.5,0 42.7,10 55.7,50 58.7,50 46.1,11.1 	"></polygon>
          <polygon points="46.2,0 41.3,0 32.2,6.6 46.3,50 49.3,50 35.6,7.7 	"></polygon>
        </g>
      </svg>
      <span class="c-rock-list__title-wrapper">
        <span class="c-rock-list__title-text">
          <a href="/fanposts">Fanposts</a>
        </span>
      </span>
    </h3>
    <div class="c-rock-list__body">
      <h4 class="c-rock-list__sub-title">Most Recent</h4>
      <ul>
        <li>
          <span class="c-article-sidebar__item--body">
            <h5>
              <a href="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on">JVR Not Traded! What Did the Flyers Miss Out On?</a>
            </h5>
            <div class="c-byline" data-cid="site/byline-1678156992_4783_26863" data-cdata="{&quot;timestamp&quot;:1677947097}">
              <span class="c-byline-wrapper"> By <span class="c-byline__item">
                  <a href="https://www.sbnation.com/users/ThinkitThrew" data-analytics-link="author-name">
                    <span class="c-byline__author-name">ThinkitThrew</span>
                  </a>
                </span>
                <span class="c-byline__item">
                  <time class="c-byline__item" data-ui="timestamp" data-relative-timestamp="true" datetime="2023-03-04T16:24:57"> March 4 </time>
                </span>
                <span class="c-byline__item"> 0 recs </span>
                <span class="c-byline__item">
                  <div class="c-entry-stat--words">
                    <a href="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on#comments" data-ui="comment">
                      <span class="coral-count" data-coral-url="https://www.broadstreethockey.com/2023/3/4/23625068/jvr-not-traded-what-did-the-flyers-miss-out-on" data-coral-ref="ZmFsc2U7aHR0cHM6Ly93d3cuYnJvYWRzdHJlZXRob2NrZXkuY29tLzIwMjMvMy80LzIzNjI1MDY4L2p2ci1ub3QtdHJhZGVkLXdoYXQtZGlkLXRoZS1mbHllcnMtbWlzcy1vdXQtb24=" data-coral-count="1" data-coral-new-count="1" data-coral-previous-count="0">
                        <span class="coral-count-number">1</span>
                        <span class="coral-count-text">Comment</span>
                        <span class="coral-new-count-divider"> / </span>
                        <span class="coral-new-count-number">1</span>
                        <span class="coral-new-count-text"> New</span>
                      </span>
                      <span class="c-entry-stat--words__unread" data-ui="unread"> / <span class="c-entry-stat__comment-data" data-ui="unread-data"></span>
                        <span class="c-entry-stat--words__word">new</span>
                      </span>
                    </a>
                  </div>
                </span>
              </span>
              <span class="c-byline__gear">
                <a data-entry-admin="23389109" data-cid="tools/entry_admin_button-1678156992_8887_26862" data-cdata="{&quot;id&quot;:23389109}"></a>
              </span>
            </div>
          </span>
        </li>
        <li>
          <span class="c-article-sidebar__item--body">
            <h5>
              <a href="https://www.broadstreethockey.com/2023/2/23/23611894/flyers-2023-draft-will-it-bring-us-an-impact-player">Flyers 2023 draft - will it bring us an impact player?</a>
            </h5>
            <div class="c-byline" data-cid="site/byline-1678156992_324_26865" data-cdata="{&quot;timestamp&quot;:1677166910}">
              <span class="c-byline-wrapper"> By <span class="c-byline__item">
                  <a href="https://www.sbnation.com/users/MaximumTalbot" data-analytics-link="author-name">
                    <span class="c-byline__author-name">MaximumTalbot</span>
                  </a>
                </span>
                <span class="c-byline__item">
                  <time class="c-byline__item" data-ui="timestamp" data-relative-timestamp="true" datetime="2023-02-23T15:41:50"> February 23 </time>
                </span>
                <span class="c-byline__item"> 1 rec </span>
                <span class="c-byline__item">
                  <div class="c-entry-stat--words">
                    <a href="https://www.broadstreethockey.com/2023/2/23/23611894/flyers-2023-draft-will-it-bring-us-an-impact-player#comments" data-ui="comment">
                      <span class="coral-count" data-coral-url="https://www.broadstreethockey.com/2023/2/23/23611894/flyers-2023-draft-will-it-bring-us-an-impact-player" data-coral-ref="ZmFsc2U7aHR0cHM6Ly93d3cuYnJvYWRzdHJlZXRob2NrZXkuY29tLzIwMjMvMi8yMy8yMzYxMTg5NC9mbHllcnMtMjAyMy1kcmFmdC13aWxsLWl0LWJyaW5nLXVzLWFuLWltcGFjdC1wbGF5ZXI=" data-coral-count="10" data-coral-new-count="10" data-coral-previous-count="0">
                        <span class="coral-count-number">10</span>
                        <span class="coral-count-text">Comments</span>
                        <span class="coral-new-count-divider"> / </span>
                        <span class="coral-new-count-number">10</span>
                        <span class="coral-new-count-text"> New</span>
                      </span>
                      <span class="c-entry-stat--words__unread" data-ui="unread"> / <span class="c-entry-stat__comment-data" data-ui="unread-data"></span>
                        <span class="c-entry-stat--words__word">new</span>
                      </span>
                    </a>
                  </div>
                </span>
              </span>
              <span class="c-byline__gear">
                <a data-entry-admin="23375935" data-cid="tools/entry_admin_button-1678156992_1726_26864" data-cdata="{&quot;id&quot;:23375935}"></a>
              </span>
            </div>
          </span>
        </li>
        <li>
          <span class="c-article-sidebar__item--body">
            <h5>
              <a href="https://www.broadstreethockey.com/2022/12/28/23529575/10-random-statistical-facts-about-the-flyers">10 random statistical facts about the Flyers</a>
            </h5>
            <div class="c-byline" data-cid="site/byline-1678156992_3316_26867" data-cdata="{&quot;timestamp&quot;:1672251202}">
              <span class="c-byline-wrapper"> By <span class="c-byline__item">
                  <a href="https://www.sbnation.com/users/Bell%20Ringer" data-analytics-link="author-name">
                    <span class="c-byline__author-name">Bell Ringer</span>
                  </a>
                </span>
                <span class="c-byline__item">
                  <time class="c-byline__item" data-ui="timestamp" data-relative-timestamp="true" datetime="2022-12-28T18:13:22"> December 28, 2022 </time>
                </span>
                <span class="c-byline__item"> 0 recs </span>
                <span class="c-byline__item">
                  <div class="c-entry-stat--words">
                    <a href="https://www.broadstreethockey.com/2022/12/28/23529575/10-random-statistical-facts-about-the-flyers#comments" data-ui="comment">
                      <span class="coral-count" data-coral-url="https://www.broadstreethockey.com/2022/12/28/23529575/10-random-statistical-facts-about-the-flyers" data-coral-ref="ZmFsc2U7aHR0cHM6Ly93d3cuYnJvYWRzdHJlZXRob2NrZXkuY29tLzIwMjIvMTIvMjgvMjM1Mjk1NzUvMTAtcmFuZG9tLXN0YXRpc3RpY2FsLWZhY3RzLWFib3V0LXRoZS1mbHllcnM=" data-coral-count="2" data-coral-new-count="2" data-coral-previous-count="0">
                        <span class="coral-count-number">2</span>
                        <span class="coral-count-text">Comments</span>
                        <span class="coral-new-count-divider"> / </span>
                        <span class="coral-new-count-number">2</span>
                        <span class="coral-new-count-text"> New</span>
                      </span>
                      <span class="c-entry-stat--words__unread" data-ui="unread"> / <span class="c-entry-stat__comment-data" data-ui="unread-data"></span>
                        <span class="c-entry-stat--words__word">new</span>
                      </span>
                    </a>
                  </div>
                </span>
              </span>
              <span class="c-byline__gear">
                <a data-entry-admin="23293616" data-cid="tools/entry_admin_button-1678156992_754_26866" data-cdata="{&quot;id&quot;:23293616}"></a>
              </span>
            </div>
          </span>
        </li>
      </ul>
      <div class="c-rock-list__post">
        <a href="https://www.sbnation.com/admin/entries/new?community_id=202&amp;entry_type=FanPost">+ Post Your Own</a>
      </div>
    </div>
    <div class="c-rock-list__cta">
      <a class="c-rock-list__more" href="/fanposts">All Fanposts</a>
    </div>
  </aside>